<% provide(:title, "About") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 plmarg">
      <h1>About</h1>
      <p>Matt and Eddie are comic nerds with an affinity for technology, pop culture, beer and metal. Not usually in that order.</p>
    </div>
  </div>
</div>
