<% provide(:title, "Subscribe") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 plmarg sptmarg">
      <h1>Subscribe</h1>
      <p>You can subscribe here:</p>

      <p>iTunes:</p>
      <p>Stitcher:</p>
      <p>RSS:</p>
    </div
  </div>
</div>
