<% provide(:title, "Subscribe") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 plmarg postsep">
      <h1>Subscribe</h1>
      <p>You can subscribe here:</p>

      <p>iTunes: <a href="https://itunes.apple.com/us/podcast/whatevery/id990008989?mt=2">Open in iTunes</a></p>
      <p>RSS: <a href="http://whatevery.podbean.com/feed/">http://whatevery.podbean.com/feed/</a></p>
    </div>
  </div>
</div>
