/**** themes the mediaelement player *****/
/* line 8, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-container {
  width: 100% !important;
}

/* line 21, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls {
  background: #000;
  height: 50px;
}

/* line 27, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-playpause-button {
  margin: 0 15px;
}

/* line 31, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-playpause-button button {
  background: url(/assets/mejs_wpc_controls_bl-cb6537b682825314619f7f533013265fad4f86d035c60dfa432a19c846d925b3.png) no-repeat 0 0;
  height: 40px;
  width: 35px;
}

/* line 37, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-pause button {
  background-position: -30px;
}

/* line 41, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-volume-button button {
  background: url(/assets/mejs_wpc_controls_bl-cb6537b682825314619f7f533013265fad4f86d035c60dfa432a19c846d925b3.png) no-repeat -65px 0px;
  width: 30px;
  height: 35px;
}

/* line 47, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-mute {
  margin: 0 7px;
}

/* line 51, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-unmute {
  margin: 0 7px;
}

/* line 56, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-unmute button {
  background: url(/assets/mejs_wpc_controls_bl-cb6537b682825314619f7f533013265fad4f86d035c60dfa432a19c846d925b3.png) no-repeat -99px 0px;
  width: 30px;
  height: 40px;
}

/**.mejs-wpc .mejs-controls .mejs-button {
  margin: 0px 15px;
}**/
/* line 66, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time {
  padding-top: 18px;
  display: inline-block;
  /**  margin-left: -120px; **/
}

/* line 72, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time span {
  font-size: 12px;
  color: #CC5200;
}

/* line 77, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time-rail {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  /**  padding-right: 120px; **/
}

/* line 84, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time-rail span {
  height: 100%;
}

/* line 87, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-wpc .mejs-controls .mejs-time-rail .mejs-time-loaded,
.mejs-wpc .mejs-controls .mejs-time-rail .mejs-time-buffering,
.mejs-wpc .mejs-controls .mejs-time-rail .mejs-time-handle {
  background: #000;
  margin: 0;
}

/* line 95, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #CC5200;
  opacity: 0.9;
}

/* line 100, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time-rail .mejs-time-float {
  margin-top: 25px;
  font-size: 1.5em;
  color: #cc5200;
  padding-top: 18px;
  width: 45px;
  border: none;
  background: none;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* line 112, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-time-rail .mejs-time-float-corner {
  border: 0;
}

/* line 116, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-horizontal-volume-slider {
  width: 40px;
  margin-right: 20px;
}

/* line 121, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-wpc .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  top: 18px;
  height: 18px;
  border-radius: 0;
}

/* line 127, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background: #D8D8DC;
}

/* line 131, /home/charles/Projects/Whatevery/app/assets/stylesheets/mejs-whatevery.scss */
.mejs-wpc .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #CC5200;
  opacity: 0.9;
}
