<div class="row">
  <div class="jumbotron">
      <h1>whatevery</h1>
      <p>A podcast for your nerdy addictions.</p> 
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 plmarg">
      <% @posts.each do |post| %>
        <%= render partial: 'posts/postview', locals: { post: post } %> 
      <p class="postbreak"></p>
      <% end %>
       <ul class="pagination">
         <%= will_paginate @post %> 
       </ul>
    </div>
  </div>
</div>
