/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require mediaelement_rails
 *= require mediaelement_rails/mejs-skins
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin fade-in($seconds) {
    -webkit-animation: fadeIn ease-in 1; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn ease-in 1; /* Firefox < 16 */
        -ms-animation: fadeIn ease-in 1; /* Internet Explorer */
         -o-animation: fadeIn ease-in 1; /* Opera < 12.1 */
            animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
        -ms-animation-fill-mode: forwards;
         ao-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    -webkit-animation-duration: $seconds; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation-duration: $seconds; /* Firefox < 16 */
        -ms-animation-duration: $seconds; /* Internet Explorer */
         ao-animation-duration: $seconds; /* Opera < 12.1 */
            animation-duration: $seconds; 
}

@mixin anim-delay($seconds) {
  -webkit-animation-delay: $seconds;
     -moz-animation-delay: $seconds;
          animation-delay: $seconds;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* colors */

$orange: #CC5200;
$gray: #D8D8DC;
$light-orange: #ffbd91;

html, body {
  height: 100%;
}

body p, li {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

a {
  color: $orange;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
  /** wrap long links **/
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  word-wrap: break-word;
}

a:hover {
  text-decoration: none;
  color: #fff;
  background: $orange;
} 

a:active {
  text-decoration: none;
  color: #fff;
  background: $light-orange;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
}
/***** style the links on the title of each post *****/ 

.titlelink {
  display: inline-block;
}

.editlink {
  display: inline-block;
  padding: 0 5px;
}

a.editlink {
  color: $orange;
}

a.editlink:hover {
  color: #fff;
} 

.alert {
  margin: auto;
  left: 5%;
  right: 5%;
  width: 80%;
}

.alert:first-child {
  margin-top: 70px;
}
/***** style jumbotron *****/

.jumbotron {
  text-align: center;
  background-color: $gray;  
  width: auto;
}

.jumbotron p {
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  font-weight: 400;
  opacity: 0;
  @include fade-in(1s);
  @include anim-delay(1.5s);
}

.jumbotron h1, .jumbotron .h1 {
  color: $orange;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 200;
  font-size: 5em;
}

.jumbotron img {
  width: 90%;
  @include fade-in(2s);
  @include anim-delay(0s);
}

.jumbotron h1 {
  opacity: 0;
  @include fade-in(2s);
  @include anim-delay(0s);
}

/***** center a column, mostly used for mejs header/player, not currrently in use. *****/

.col-centered {
  float: none;
  margin: 0 auto;
}

/***** style navbar *****/

.navbar-inverse {
  background-color: $gray;
  border: none;
  margin-top: 50px;
  padding: 10px 0;
}
 
.navbar-inverse .navbar-nav > li > a {
  color: $orange;
}

.navbar-inverse img {
  margin-top: -8px;
  padding-bottom: 0px;
}
.nav-pills > li > a {
  color: $orange;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 600;
}

.audio-player {
  margin: 20px 0 0 0;
}

#audio-player-title {
  width: 100%;
  color: $orange;
  z-index: 2000;
  display: none;
}

#audio-player-title h2 {
  margin: 0px 0 7px 0; 
  text-align: center;
  width: 100%;
  padding: 7px 0 10px 0;
  background: rgba(0,0,0,0.7);
}

.play-button {
  background: image-url("mejs_wpc_controls.png") no-repeat 2px 1px;
  height: 40px;
  width: 35px; 
  border: none;
  margin-top: 10px;
}

.post-play-button {
  display: inline-block;
}

.file_link {
  display: inline;
  clear: left;
  position: relative;
  top: -10px;  
  font-size: 1.3em;
}

/***** add some seperation in posts. *****/

.postbreak {
  height: 100px;
}

.postsep {
  margin-top: 30px;
}


/***** adds a left margin to posts. *****/

.plmarg {
 margin-left: 20px;
}

/***** adds a top margin to static-pages *****/

.sptmarg {
  margin-top: 140px;
}

/***** remove bullets from alert messages *****/

.msgs {
  list-style: none;
}

/***** style footer *****/

.footer {
  bottom: 0;
  height: 60px;
}


::-webkit-scrollbar
{
  width: 5px;  /* for vertical scrollbars */
  height: 5px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .jumbotron h1, .jumbotron .h1 {
    font-size: 7em; 
    letter-spacing: 7px;
  }
   .nav-pills > li > a {
   font-size: 1.5em; 
   letter-spacing: 3px;
  } 
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) { 
  .jumbotron img {
    width: 60%;
  }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .jumbotron img {
    width: 60%;
  } 
}

/* gigantor devices (desktops 1440 and up) */
@media (min-width: 1440px) {
  .jumbotron img {
    width: 50%;
  } 
}
