/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* colors */

$orange: #CC5200;
$gray: #D8D8DC;

a {
color: $orange;
}

a:hover {
background-color: $orange;
color: #fff;
padding: 5px 20px 5px 5px;
}

nav .nav-pills a:hover {
  background-color: $orange;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
}

a:hover {
text-decoration: none;
}

nav ul {
list-style-type: none;
font-size: 1.5em;
}

/* positioning */

nav {
  padding-top: 10px;
}

/* tossing this out for now.

.sidebar-nav-fixed {
position: fixed;
float: right;
clear: left;
right: 50px;
padding-top: 20px;
display: inline;
}

*/
